.strike {
  text-decoration: line-through;
}
.container {
  border-radius: 5px;
  border: 1px solid red;
  padding: 20px;
}
.container .list .list-head {
  width: 100%;
  padding: 1px;
  border-bottom: 1px grey solid;
  margin: 5px;
}
.container .list .list-new {
  width: 100%;
}
.container .list .list-new input {
  width: 100%;
  border-radius: 5px;
  padding: 2px;
}
.container .list .list-task {
  margin: 1px;
  box-shadow: 2px;
  border: 1px solid pink;
  border-radius: 5px;
  padding: 2px;
  min-width: 300px;
  overflow: hidden;
}
.container .list .list-task .task-checkbox {
  width: 5%;
  display: inline-block;
  float: left;
  min-width: 20px;
}
.container .list .list-task .task-text {
  width: 85%;
  height: inherit;
  display: inline-block;
  float: left;
  min-width: 230px;
}
.container .list .list-task .task-delete {
  width: 10%;
  height: inherit;
  min-width: 50px;
  float: right;
  display: inline-block;
}
.container .list .list-task .task-delete button {
  width: 100%;
  background: red;
  border: none;
  border-radius: 5px;
  height: 100%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    padding: 2 px;
  }
  .container .list .list-new {
    width: 100%;
    padding: 0px;
  }
  .container .list .list-new input {
    width: 100%;
    border-radius: 5px;
    padding: 2px;
  }
  .container .list .list-task {
    width: 100%;
    min-width: 0px;
  }
  .container .list .list-task .task-checkbox {
    width: 20px;
  }
  .container .list .list-task .task-text {
    width: 190px;
    min-width: 0px;
  }
  .container .list .list-task .task-delete {
    width: 50px;
    float: right;
  }
}
